body{
    height: 100vh;
}

.password, .confirm-password{
    background-color: #f6f6f8;
    cursor: pointer;
}

input{
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    background-color: #f6f6f8 !important;
}